{#
/**
 * Available variables:
 * - hero - primary variable
 *   - main: the main content
 *     - title: the title
 *     - lead: lead text
 *     - brow: the brow text
 *   - aside: secondary content
 *     - title: the title
 *     - text: the text
 *     - link_url: the link url
 *     - link_text: the link text
 *   - full_width_main: boolean - make the main content full width (no aside)
 *   - alt_background: boolean - use the alternate color background
 *   - classes: array of classes to add to component
 */
#}

{% set classes = [
  'jcc-hero',
  hero.full_width_main ? 'jcc-hero--full-main',
  hero.alt_background ? 'jcc-hero--alt-background' : 'jcc-hero--default-background',
]|merge(hero.classes|default([''])) %}

<div class="{{ classes|join(' ')|trim }}">
  <div class="jcc-hero__container">
    <div class="jcc-hero__content">
      <div class="jcc-hero__main">
        {% if hero.main.brow %}
          <p class="jcc-hero__main-brow">{{ hero.main.brow }}</p>
        {% endif %}

        <h1 class="jcc-hero__main-title">
          {{ hero.main.title }}
        </h1>

        {% if hero.main.lead %}
          <div class="jcc-hero__main-lead">{{ hero.main.lead }}</div>
        {% endif %}
      </div>

      {% if hero.aside %}
        <aside class="jcc-hero__aside">
          {% if hero.aside.title %}
            <h4 class="jcc-hero__aside-title">{{ hero.aside.title }}</h4>
          {% endif %}

          {% if hero.aside.text %}
            <div class="jcc-hero__aside-text">{{ hero.aside.text }}</div>
          {% endif %}

          {% if hero.aside.link_url %}
            <div class="jcc-hero__aside-link">
              <a href="{{ hero.aside.link_url }}">{{ hero.aside.link_text }}</a>
            </div>
          {% endif %}
        </aside>
      {% endif %}
    </div>
  </div>
</div>
