{% set attributes = checkbox.attributes ? checkbox.attributes : create_attribute() %}

{% set classes = [
  'usa-checkbox',
  'jcc-checkbox--' ~ checkbox.style|default(''),
]|merge(checkbox.classes|default([''])) %}

<div {{attributes.addClass(classes) }}>
  {% set id = 'checkbox-' ~ random() %}
  <input class="usa-checkbox__input" id="{{ id }}" type="checkbox" name="{{ checkbox.name }}" value="{{ id }}">
  <label class="usa-checkbox__label" for="{{ id }}">{{ checkbox.label }}</label>
</div>
