<div class="usa-checkbox">
  <input class="usa-checkbox__input" id="{{ id }}" type="checkbox" name="{{ name }}" value="{{ id }}">
  <label class="usa-checkbox__label" for="{{ id }}">{{ label }}</label>
</div>
