<div class="usa-radio{% if bordered %} jcc-radio--bordered{% endif %}">
  <input class="usa-radio__input" id="{{ id }}" type="radio" checked name="{{ name }}" value="{{ id }}">
  <label class="usa-radio__label" for="{{ id }}">{{ label }}</label>
</div>
