{#
/**
 * Available variables:
 * - search_input - primary variable
 *   - name: the html "name"
 *   - placeholder: the input "placeholder"
 *   - id: the id of the checkbox
 *   - button_title: aria label of the button
 */
#}

{% set icon = {
    name: "search",
    title: "Search"|t,
    decorative: true,
} %}

{% set title = search_input.placeholder|default('Search this site') %}

<div class="jcc-fieldset-search">
	<fieldset class="usa-fieldset">
		{% set id = search_input.id ?? 'search-type-text--' ~ random() %}
		<input type="text" placeholder="{{ search_input.placeholder }}" class="usa-input" id="{{ id }}" name="{{ search_input.name }}" title="{{ title }}" aria-label="{{ title }}"/>
		<button type="submit" aria-label="{{ search_input.button_title|default('Submit your search') }}">{% include '@atoms/icon/icon.twig' with { icon: icon } %}</button>
	</fieldset>
</div>
