{% set classes = [
  'usa-footer',
  'jcc-footer-base',
  'usa-footer--' ~ footer_base.height_variant|default('simple'),
  'jcc-footer--' ~ footer_base.background_variant|default('default'),
]|merge(text_section.classes|default([''])) %}

<footer class="{{ classes|join(' ')|trim }}">

  {% if footer_base.links %}
    <div class="usa-footer__primary-section">

      {% if footer_base.height_variant == 'big' %}
        <div class="grid-container">
          <div class="grid-row grid-gap">
            <div class="grid-col-12">
              <nav class="usa-footer__nav" aria-label="{{ footer_base.aria_label|default('Compact main menu') }}">
                <div class="grid-row grid-gap-4">
                  {% for link in footer_base.links %}
                    <div class="mobile-lg:grid-col-6 desktop:grid-col-{{ footer_base.secondary_menu_cols }}">
                      <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                        <h4 class="usa-footer__primary-link">{{ link.text }}</h4>
                        {% if link.links %}
                          <ul class="usa-list usa-list--unstyled">
                            {% for child in link.links %}
                              <li class="usa-footer__secondary-link"><a href="{{ child.href }}">{{ child.text }}</a></li>
                            {% endfor %}
                          </ul>
                        {% elseif link.block %}
                          {{ link.block }}
                        {% endif %}
                      </section>
                    </div>
                  {% endfor %}
                </div>
              </nav>
            </div>
          </div>
        </div>
      {% endif %}

      {% if footer_base.height_variant == 'simple' %}
        <nav class="usa-footer__nav" aria-label="{{ footer_base.aria_label|default('Areas of interest') }}">
          <ul class="grid-row grid-gap">
            {% for link in footer_base.links %}
              <li class="mobile-lg:grid-col-6 desktop:grid-col-auto usa-footer__primary-content">
                <a class="usa-footer__primary-link" href="{{ link.href }}">{{ link.text }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      {% endif %}

    </div>
  {% endif %}

  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        {% if footer_base.social_links %}
        <div class="usa-footer__logo grid-row grid-col-12 desktop:grid-col-9 desktop:grid-gap-2">
        {% else %}
        <div class="usa-footer__logo grid-row grid-col-12 desktop:grid-col-12">
        {% endif %}
            {% if footer_base.seal %}
              <div class="mobile-lg:grid-col-auto">
                <img class="usa-footer__logo-img" src="{{ footer_base.seal }}" alt="">
              </div>
            {% endif %}
            <div class="mobile-lg:grid-col-auto">
              <div class="usa-footer__logo-heading">
                {% if footer_base.logo %}<span class="usa-logo__graphic"><img src="{{ footer_base.logo }}" alt="{{ footer_base.title|upper }}" /></span>{% endif %}
                <span class="usa-logo__text{% if footer_base.logo %} usa-sr-only{% endif %}">{{ footer_base.title|upper }}</span>
              </div>
            </div>
          </div>
          {% if footer_base.social_links %}
            <div class="usa-footer__contact-links grid-col-12 desktop:grid-col-3">
              <div class="usa-footer__social-links">
                {% include '@molecules/blocks/social-links/social-links.twig' with {
                  social_links: footer_base.social_links
                } %}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    {% include '@molecules/navigation/global-bar/global-bar.twig' with {
      global_bar: footer_base.global_bar,
      is_footer: true
    } %}
  </div>
</footer>
