{% set default_option = cascading_jump_menu.default_option|default('Choose action') %}
{% set default_child_option = cascading_jump_menu.default_child_option|default('Choose case type') %}

{% set classes = [
  'jcc-cascading-jump-menu',
]|merge(cascading_jump_menu.classes|default([''])) %}

{% if cascading_jump_menu.groups|length > 0 %}
  {# Create json for the javascript that creates/manages the 2 dropdowns #}
  {% set groups = [] %}
  {% for group in cascading_jump_menu.groups %}
    {% set child_items = [] %}
    {% for child_item in group.items %}
      {% set child_items = child_items|merge([{
        name: child_item.name,
        url: child_item.url,
      }]) %}
    {% endfor %}

    {% set groups = groups|merge({
      (group.name): {
        default_option: group.default_option|default(default_child_option),
        items: child_items,
      }
    }) %}
  {% endfor %}
  {% set json = {
    default_option: default_option,
    default_child_option: default_child_option,
    groups: groups
  } %}


  <div class="{{ classes|join(' ')|trim }}">
    <div class="jcc-cascading-jump-menu__form">
      <label class="usa-label sr-only" for="{{ cascading_jump_menu.id }}-parent-options">{{ cascading_jump_menu.label }}</label>
      <select class="usa-select jcc-cascading-jump-menu__parent" name="{{ cascading_jump_menu.id }}-parent-options" id="{{ cascading_jump_menu.id }}-parent-options">
        <option value="" aria-hidden="true">{{ default_option }}</option>
        {% for group in cascading_jump_menu.groups %}
          <option>{{ group.name }}</option>
        {% endfor %}
      </select>

      <label class="usa-label sr-only" for="{{ cascading_jump_menu.id }}-child-options">{{ cascading_jump_menu.label_child }}</label>
      <select class="usa-select jcc-cascading-jump-menu__child" disabled="disabled" name="{{ cascading_jump_menu.id }}-child-options" id="{{ cascading_jump_menu.id }}-child-options">
        <option value="" aria-hidden="true">{{ default_child_option }}</option>
      </select>
    </div>

    <input type="hidden" name="data" class="cascading-jump-menu__data" value="{{ json|json_encode|e('html') }}"/>
    <button class="usa-button usa-button--accent-warm {{ cascading_jump_menu.id }}-submit">Go</button>
  </div>
{% endif %}
