<div class="jcc-postcard jcc-postcard--{{ background_variant }} jcc-postcard--{{ header_align_variant }}">
  <div class="jcc-postcard__container">
    <div class="jcc-postcard__row">
      <div class="jcc-postcard__media">
        <img src="{{ image }}" alt="{{ alt }}" />
        {% if tag is not empty %}
        <span class="jcc-postcard__tag">{{ tag }}</span>
        {% endif %}
      </div>

      <div class="jcc-postcard__content">
        {% include 'molecules-header-group' with {
          brow: headergroup.brow,
          title: headergroup.title
        } %}
      </div>
    </div>
  </div>
</div>
