<div class="jcc-postcard jcc-postcard--{{ background_variant }} jcc-postcard--{{ header_align_variant }}">
  <div class="jcc-postcard__container">
    <div class="jcc-postcard__row">
      {% if image  %}
      <div class="jcc-postcard__media">
        <img src="{{ image }}" alt="{{ alt }}" />
        {% if tag  %}
        <span class="jcc-postcard__tag">{{ tag }}</span>
        {% endif %}
      </div>
      {% endif %}

      <div class="jcc-postcard__content">
        {% include '@molecules/text/header-group/header-group.twig' with {
          brow: headergroup.brow,
          title: headergroup.title
        } %}
      </div>
    </div>
  </div>
</div>
