<div class="jcc-datepicker">
  <h2 class="jcc-datepicker__title">{{ title }}</h2>
  <div class="jcc-datepicker__content">
    <form action="#" class="jcc-datepicker__form">
      <label for="filing_date" class="jcc-datepicker__label" title="{{ filing_date_label }}">{{ filing_date_label }}</label>
      <span class="jcc-datepicker__icon" title="Calendar">[&nbsp;&nbsp;&nbsp;]</span>
      <input id="filing_date" type="date" class="jcc-datepicker__input" placeholder="{{filing_date }}">
    </form>
    <div class="jcc-datepicker__adjacent-dates">
      <p class="jcc-datepicker__label">{{ serve_date_label }}</p>
      <span class="jcc-datepicker__icon" title="Calendar">[&nbsp;&nbsp;&nbsp;]</span>
      <p class="jcc-datepicker__date">{{ serve_date }}</p>
    </div>
    <div class="jcc-datepicker__adjacent-dates">
      <p class="jcc-datepicker__label">{{ respond_date_label }}</p>
      <span class="jcc-datepicker__icon" title="Calendar">[&nbsp;&nbsp;&nbsp;]</span>
      <p class="jcc-datepicker__date">{{ respond_date }}</p>
    </div>
  </div>
</div>
