{#
/**
 * @file
 * Available variables typically provided from Drupal book navigation:
 * TODO: POPULATE VARS (+BASE SIDE NAV)
 */
#}
{% set stepindicatorbase_classes = [
    'jcc-step-indicator-base',
    'usa-step-indicator',
    step_indicator_base.centered_layout ? 'usa-step-indicator--center'
]|merge(step_indicator_base.stepindicator_classes|default([''])) %}

{% set current_item = 0 %}

{% if step_indicator_base.theme_classes.counters %}
    {% if step_indicator_base.theme_classes.counter_size == "small" %}
        {% set stepindicatorbase_classes = stepindicatorbase_classes|merge(["usa-step-indicator--counters-sm"]) %}
    {% else %}
        {% set stepindicatorbase_classes = stepindicatorbase_classes|merge(["usa-step-indicator--counters"]) %}
    {% endif %}
{% endif %}

{% import _self as stepindicatorbase %}
{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}

{% set tag = step_indicator_base.tag|default('h2') %}

<nav aria-label="{{ step_indicator_base.aria_label }}" class="step-indicator-base-scheme-{{ step_indicator_base.scheme }}">
  <{{ tag }} class="jcc-stepindicatorbase__title">{{ step_indicator_base.header }}</{{ tag }}>
  {{ stepindicatorbase.stepindicatorbase_links(step_indicator_base.items, attributes, stepindicatorbase_classes|join(' ')|trim, 0, active_trail, current_item, step_indicator_base.theme_classes.alignment, step_indicator_base.theme_classes.labels) }}
</nav>

{% macro stepindicatorbase_links(items, attributes, stepindicatorbase_classes, menu_level, active_trail, current_item, alignment, labels) %}
  {% import _self as stepindicatorbase %}
  {% if items %}
      {% if alignment %}
          {% set alignment_class =  "item-alignment-#{alignment}"  %}
      {% endif %}
      <div class="{{ stepindicatorbase_classes }}" aria-label="progress">
          <ol class="usa-step-indicator__segments">
              {% for key, item in items %}
                  {% set elem_status_class =  "usa-step-indicator__segment" %}
                  {% if item.status %}
                      {% set elem_status_class =  "usa-step-indicator__segment usa-step-indicator__segment--#{item.status}" %}
                      {% if item.status == "current" %}
                          {% set current_item = key %}
                      {% endif %}
                  {% endif %}
                  <li class="{{ elem_status_class }} alignment_class">
                      {% if labels == "show" %}
                          <span class="usa-step-indicator__segment-label">{{ item.label }}<span class="usa-sr-only">{{ item.status }}</span></span>
                      {% endif %}
                  </li>
              {% endfor %}
          </ol>
          <div class="usa-step-indicator__header">
              <h2 class="usa-step-indicator__heading">
                  <span class="usa-step-indicator__heading-counter">
                    <span class="usa-sr-only">Step</span>
                    <span class="usa-step-indicator__current-step">{{ current_item + 1}}</span>
                    <span class="usa-step-indicator__total-steps">of {{ items|length }}</span>
                  </span>
                  <span class="usa-step-indicator__heading-text">{{ items[current_item].label }}</span>
              </h2>
          </div>
      </div>

  {% endif %}
{% endmacro %}
