{% set classes = [
  'jcc-read-more',
  read_more.icon ? 'jcc-read-more--has-icon' : '',
  read_more.block_variant ? 'jcc-read-more--block' : '',
]|merge(read_more.classes|default([''])) %}

{% set icon = read_more.icon|default({
  name: "expand_more",
  title: "Expand"|t,
  decorative: true,
}) %}

{% if read_more.id and read_more.content %}
  <div class="{{ classes|join(' ')|trim }}">
    <button class="jcc-read-more__trigger usa-button usa-button--unstyled" data-a11y-toggle="{{ read_more.id }}">
      {{ read_more.title ?? 'Read more'|t }}
      {% include '@atoms/icons/icon.twig' with { icon: icon } %}
    </button>
    <div class="jcc-read-more__content" id="{{ read_more.id }}">
      {{ read_more.content }}
    </div>
  </div>
{% endif %}
