{# {% for nav_list(links, subclass) %}
  {% for item in links %}
  <li class="usa-sidenav__item">
    <a href="{{ item.href }}"{% if item.current %} class="usa-current"{% endif %}>{{ item.text }}</a>
    {% if item.links %}
    <ul class="{{ subclass }}">
      {{ nav_list(item.links, subclass) }}
    </ul>
    {%- endif %}
  </li>
  {% endfor %}
{% endfor %}

<nav>
  <ul class="usa-sidenav">
    {{ nav_list(sidenav.links, 'usa-sidenav__sublist') }}
  </ul>
</nav> #}


<nav>
  <ul class="usa-sidenav">
    <li class="usa-sidenav__item">
      <a href="">Parent link</a>
    </li>
    <li class="usa-sidenav__item">
      <a href="" class="usa-current">Current page</a>
      <ul class="usa-sidenav__sublist">
        <li class="usa-sidenav__item">
          <a href="">Child link</a>
        </li>
        <li class="usa-sidenav__item">
          <a href="" class="usa-current">Child link</a>
        <ul class="usa-sidenav__sublist">
          <li class="usa-sidenav__item">
            <a href="">Grandchild link</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="">Grandchild link</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="" class="usa-current">Grandchild link</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="">Grandchild link</a>
          </li>
        </ul>
      </li>
      <li class="usa-sidenav__item">
        <a href="">Child link</a>
      </li>
      <li class="usa-sidenav__item">
        <a href="">Child link</a>
      </li>
      <li class="usa-sidenav__item">
        <a href="">Child link</a>
      </li>
    </ul>
    </li>
    <li class="usa-sidenav__item">
      <a href="">Parent link</a>
    </li>
  </ul>
</nav>
