{% set tag = tile.tag|default('h3') %}
{% set url_attributes = tile.url_attributes ? tile.url_attributes : create_attribute() %}

<div class="jcc-tile">
  {% if tile.brow %}
    <p class="jcc-tile__brow">{{ tile.brow }}</p>
  {% endif %}

  {% if tile.title %}
    <{{ tag }} class="jcc-tile__title">
      <a href="{{ tile.url }}"{{ url_attributes }}>{{ tile.title }}</a>
    </{{ tag }}>
  {% endif %}
</div>
