<div class="jcc-timeline-dual-item">
  {% if timeline_dual_item.top %}
    <div class="jcc-timeline-dual-item__top">
      {% if timeline_dual_item.top.deadline %}
        <div class="jcc-timeline-dual-item__time">{{ timeline_dual_item.top.deadline }}</div>
      {% else %}
        <div class="jcc-timeline-dual-item__top-inner">
          <div class="jcc-timeline-dual-item__number">
            <div class="jcc-timeline-dual-item__number-inner {{ timeline_dual_item.top.number|default('line') }}">
              {% if timeline_dual_item.top.number == "wait" %}
                {# Empty #}
              {% else %}
                {{ timeline_dual_item.top.number }}
              {% endif %}
            </div>
          </div>

          {% if timeline_dual_item.top.excerpt|trim %}
            <div class="jcc-timeline-dual-item__excerpt">{{ timeline_dual_item.top.excerpt }}</div>
          {% elseif timeline_dual_item.top.read_more.link.url|trim %}
            {% set url_attributes = timeline_dual_item.read_more.link.url_attributes|default(create_attribute()) %}
            <a href="{{ timeline_dual_item.top.read_more.link.url }}" {{ url_attributes.addClass('jcc-timeline-dual-item__trigger') }}>
              {{- timeline_dual_item.top.read_more.link.label -}}
            </a>
          {% elseif timeline_dual_item.top.read_more.modal.content|trim %}
            {% include '@organisms/sections/modal/modal.twig' with {
              modal: timeline_dual_item.top.read_more.modal
            } %}
          {% endif %}
        </div>
      {% endif %}
    </div>
  {% endif %}

  {% if timeline_dual_item.icon %}
    <div class="jcc-timeline-dual-item__icon {{ timeline_dual_item.icon }}"></div>
  {% endif %}

  {% if timeline_dual_item.bottom %}
    <div class="jcc-timeline-dual-item__bottom">
      {% if timeline_dual_item.bottom.deadline %}
        <div class="jcc-timeline-dual-item__time">{{ timeline_dual_item.bottom.deadline }}</div>
      {% else %}
        <div class="jcc-timeline-dual-item__bottom-inner">
          <div class="jcc-timeline-dual-item__number">
            <div class="jcc-timeline-dual-item__number-inner {{ timeline_dual_item.bottom.number|default('line') }}">
              {% if timeline_dual_item.bottom.number == "wait" %}
                {# Empty #}
              {% else %}
                {{ timeline_dual_item.bottom.number }}
              {% endif %}
            </div>
          </div>

          {% if timeline_dual_item.bottom.excerpt|trim %}
            <div class="jcc-timeline-dual-item__excerpt">{{ timeline_dual_item.bottom.excerpt }}</div>
          {% elseif timeline_dual_item.bottom.read_more.link.url|trim %}
            {% set url_attributes = timeline_dual_item.read_more.link.url_attributes|default(create_attribute()) %}
            <a href="{{ timeline_dual_item.bottom.read_more.link.url }}" {{ url_attributes.addClass('jcc-timeline-dual-item__trigger') }}>
              {{- timeline_dual_item.bottom.read_more.link.label -}}
            </a>
          {% elseif timeline_dual_item.bottom.read_more.modal.content|trim %}
            {% include '@organisms/sections/modal/modal.twig' with {
              modal: timeline_dual_item.bottom.read_more.modal
            } %}
          {% endif %}
        </div>
      {% endif %}
    </div>
  {% endif %}
</div>
