{% set classes = [
  'jcc-modal',
  modal.overlay_mode ? 'jcc-modal--overlay',
  modal.background_variant ? 'jcc-modal--' ~ modal.background_variant,
  modal.size_variant ? 'jcc-modal--' ~ modal.size_variant,
]|merge(modal.classes|default([''])) %}

{% set randomId = modal.id ?: random() %}

{% if modal.custom_button %}
  {{ modal.custom_button }}
{% else %}
  <button class="jcc-modal__trigger {{ modal.parent_component_class }}" data-a11y-dialog-show="{{ randomId }}">
    {{ modal.button_label ?: 'Read more'|t }}
  </button>
{% endif %}

<div class="{{ classes|join(' ')|trim }}" id="{{ randomId }}" aria-hidden="true">
  <div class="jcc-modal__backdrop{% if modal.overlay_mode %} jcc-modal__backdrop--overlay{% endif %}" tabindex="-1"></div>

  <dialog class="jcc-modal__dialog{% if modal.overlay_mode %} jcc-modal__dialog--overlay{% endif %} js-dialog-window" aria-label="{{ modal.aria_label|default(randomId ~ ' dialog window') }}">
    <button class="jcc-modal__close-button usa-button--unstyled jcc-modal__close-reset" type="button" data-a11y-dialog-hide="{{ randomId }}" aria-label="{{ 'Close this dialog window'|t }}">
      {% include '@atoms/icons/icon.twig' with {
        icon: {
          name: "close",
          title: "Close"|t,
          decorative: false,
        }
      } %}
    </button>

    <div class="jcc-modal__content">
      {{ modal.content }}
    </div>

    {% if modal.footer_button %}
    <footer class="jcc-modal__footer">
      <button class="usa-button jcc-modal__close-reset" type="button" data-a11y-dialog-hide="{{ randomId }}" aria-label="{{ 'Close this dialog window'|t }}">
        {{ 'Done'|t }}
      </button>
    </footer>
    {% endif %}
  </dialog>
</div>
