{% set tag = accordion.tag|default('h2') %}
{% set classes = [
  'usa-accordion',
  accordion.full ? 'usa-accordion--full' : '',
]|merge(accordion.classes|default([])) %}

<div class="{{ classes|join(' ')|trim }}">
  {% for item in accordion.items %}
    {% set expanded = loop.first ? 'true' : 'false' %}
    {% set id = 'accordion-item-' ~ loop.index ~ '-' ~  random() %}

    {% set item_title %}
      {# Use `tag` to pass the accurate heading level to maintain the document outline #}
      <{{ tag }} class="usa-accordion__heading">
        <button class="usa-accordion__button" aria-expanded="{{ expanded }}" aria-controls="{{ id }}">
          {{- item.title -}}
        </button>
      </{{ tag }}>
    {% endset %}

    {% set item_content %}
      <div class="usa-accordion__content usa-prose" id="{{ id }}">
        {{- item.body|raw -}}
      </div>
    {% endset %}

    {# The "full" version requries additional wrapper markup. #}
    {% if accordion.full %}
      <div class="jcc-accordion__heading-container">
        {{ item_title }}
      </div>
      <div class="jcc-accordion__content-container">
        {{ item_content }}
      </div>

    {% else %}
      {{ item_title }}
      {{ item_content }}
    {% endif %}
  {% endfor %}
</div>
