{% set url_attributes = url_attributes ? url_attributes : create_attribute() %}
<li class="jcc-step">
  <h3 class="jcc-step__title">{{ title }}</h3>
  <p class="jcc-step__excerpt">{{ excerpt }}</p>
  {% if read_more_link %}
  <a href="{{ url }}" class="jcc-step__toggle"{% if url_attributes %}{{ url_attributes }}{% endif %}>{{ read_more_link }}</a>
  {% endif %}
</li>