{% set attributes = button.attributes ? button.attributes : create_attribute() %}

{% set classes = [
  'usa-button',
  'usa-button--' ~ button.style|default('primary'),
]|merge(button.classes|default([''])) %}

<button {% if button.id %}id="{{ button.id }}"{% endif %} {{ attributes.addClass(classes) }}{% if button.aria_label %} aria_label="{{ button.aria_label }}"{% endif %}{% if button.other_attributes %} {{ button.other_attributes }}{% endif %}>
  {{- button.text -}}
  {% if button.icon %}
    {% include '@atoms/icons/icon.twig' with {
      icon: button.icon
    } %}
  {% endif %}
</button>
