{% set total_pages = pagination.total_pages %}

<nav class="usa-pagination jcc-pagination" role="navigation" aria-labelledby="{{ pagination.heading_id }}">
  <h4 id="{{ pagination.heading_id }}" class="usa-sr-only">{{ 'Pagination'|t }} ({{ total_pages }} pages of results found)</h4>
  <ol>
    {# Print first item if we are not on the first page. #}
    {% if pagination.first %}
      <li>
        <a href="{{ pagination.first.href }}" aria-label="{{ 'Go to first page'|t }}"{{ pagination.first.attributes|without('href', 'title') }}>
          <span class="usa-sr-only">{{ 'First page'|t }}</span>
          <span aria-hidden="true">{{ pagination.first_text|default('« First'|t) }}</span>
        </a>
      </li>
    {% endif %}

    {# Print previous item if we are not on the first page. #}
    {% if pagination.previous %}
      <li>
        <a href="{{ pagination.previous.href }}" aria-label="{{ 'Go to previous page'|t }}" rel="prev"{{ pagination.previous.attributes|without('href', 'title', 'rel') }}>
          <span class="usa-sr-only">{{ 'Previous page'|t }}</span>
          <span aria-hidden="true">{{ pagination.previous_text|default('‹ Previous'|t) }}</span>
        </a>
      </li>
    {% endif %}

    {# Add an ellipsis if there are further previous pages. #}
    {% if pagination.ellipses_previous %}
      <li class="jcc-pagination__ellipsis" role="presentation">&hellip;</li>
    {% endif %}

    {# Generate the scalable pager piece. #}
    {% for key, item in pagination.items %}
      <li class="jcc-pagination__full">
        {% if pagination.current == key %}
          {% set title = 'Current page'|t %}
        {% else %}
          {% set title = 'Go to page @key'|t({'@key': key}) %}
        {% endif %}
        <a class="{{ key < 10 ? 'single-digit-spacing' : '' }}{{ pagination.current == key ? ' is-active' : '' }}" href="{{ item.href }}" aria-label="{{ title }}"{{ item.attributes|without('href', 'title') }}>
          <span class="usa-sr-only">
            {{ pagination.current == key ? 'Current page'|t : 'Page'|t }}
          </span>
          {{- key -}}
        </a>
      </li>
    {% endfor %}

    {# Generate the mobile variant pager piece. #}
    {% for key, item in pagination.items %}
      <li class="jcc-pagination__mobile">
        {% if pagination.current == key %}
          {{ pagination.current }} of {{ total_pages }}
        {% endif %}
      </li>
    {% endfor %}

    {# Add an ellipsis if there are further next pages. #}
    {% if pagination.ellipses_next %}
      <li class="jcc-pagination__ellipsis" role="presentation">&hellip;</li>
      <li class="jcc-pagination__total-pages" aria-hidden="true">
        <a href="{{ pagination.last.href }}" {{ pagination.last.attributes|without('href', 'title') }}>
          {{- total_pages -}}
        </a>
      </li>
    {% endif %}

    {# Print next item if we are not on the last page. #}
    {% if pagination.next %}
      <li>
        <a href="{{ pagination.next.href }}" aria-label="{{ 'Go to next page'|t }}" rel="next"{{ pagination.next.attributes|without('href', 'title', 'rel') }}>
          <span class="usa-sr-only">{{ 'Next page'|t }}</span>
          <span aria-hidden="true">{{ pagination.next_text|default('Next ›'|t) }}</span>
        </a>
      </li>
    {% endif %}

    {# Print last item if we are not on the last page. #}
    {% if pagination.last %}
      <li>
        <a href="{{ pagination.last.href }}" aria-label="{{ 'Go to last page'|t }}"{{ pagination.last.attributes|without('href', 'title') }}>
          <span class="usa-sr-only">{{ 'Last page'|t }}</span>
          <span aria-hidden="true">{{ pagination.last_text|default('Last »'|t) }}</span>
        </a>
      </li>
    {% endif %}
  </ol>
</nav>
