{% set classes = [
  'usa-header',
  'jcc-header-base',
  'usa-header--' ~ header_base.height_variant|default('basic'),
  'jcc-header--' ~ header_base.background_variant|default(''),
]|merge(text_section.classes|default([''])) %}

<a class="usa-skipnav" href="#main-content">{{ header_base.skip }}</a>
<div class="jcc-header-hat">
  <div class="jcc-header-hat__container">
    <em class="jcc-header-hat__logo"><a href="{{ header_base.hat.url }}" title="{{ header_base.hat.title }}" aria-label="{{ header_base.hat.title }}">{{ header_base.hat.title }}</a></em>
  </div>
</div>

<header class="{{ classes|join(' ')|trim }}">
  {% if header_base.height_variant == 'basic' %}<div class="usa-nav-container">{% endif %}
    
    <div class="usa-navbar">
      
      <div class="usa-logo" id="basic-logo">
        <em class="usa-logo__text"><a href="/" title="Home" aria-label="Home">{{ header_base.title }}</a></em>
      </div>

      <button class="usa-menu-btn usa-button--unstyled">
        {% include '@atoms/icons/icon.twig' with {
          icon: header_base.menu_icon
        } %}
      </button>

      <button class="usa-nav__close">
        {% include '@atoms/icons/icon.twig' with {
          icon: header_base.close_icon
        } %}
      </button>

    </div>

    <nav aria-label="Primary navigation" class="usa-nav">
      
      {% if header_base.height_variant == 'extended' %}<div class="usa-nav__inner">{% endif %}
      
      {% include '@molecules/navigation/nav-primary-base/nav-primary-base.twig' with {
          primary_nav: header_base.primary_nav
      } %}
      {% if header_base.height_variant == 'extended' %}<div class="usa-nav__secondary">{% endif %}
      
      {% if header_base.nav_secondary.accordion_button or header_base.nav_secondary.search %}
      <div class="jcc-nav-secondary__group">
        
        {% if header_base.nav_secondary.accordion_button %}
        <ul class="jcc-translate usa-accordion">
          <li>
            <button class="usa-accordion__button usa-accordion__button--has-icon usa-accordion__button--no-toggle usa-nav__link" aria-expanded="false" aria-controls="extended-nav-section-two">
              <span class="usa-accordion-button__icon">
                {% include '@atoms/icons/icon.twig' with {
                  icon: header_base.nav_secondary.accordion_button.icon
                } %}
              </span>
              <span class="label">{{ header_base.nav_secondary.accordion_button.label }}</span>
            </button>
            <ul id="extended-nav-section-two" class="usa-nav__submenu" hidden="">
              {% for link in header_base.nav_secondary.accordion_button.links %}
                <li class="usa-nav__submenu-item"><a href="{{ link.href }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
        </ul>
        {% endif %}

        {% if header_base.nav_secondary.search %}
        <form{{ attributes.addClass('usa-form', 'jcc-form')}} action="{{ nav_secondary.search.form_action|default('/search') }}">
          {% include '@atoms/forms/search-input.twig' with {
            search_input: header_base.nav_secondary.search.search_input
          }%}
        </form>
        {% endif %}
      
      </div>
      {% endif %}
      
      {% if header_base.height_variant == 'extended' %}</div>{% endif %}

      {% if header_base.secondary_nav %}
      <nav class="jcc-nav-secondary__menu">
      {% include '@molecules/navigation/inline-nav/inline-nav.twig' with {
        inline_nav : header_base.secondary_nav
      } %}
      </nav>
      {% endif %}
      {% if header_base.height_variant == 'extended' %}</div>{% endif %}

    </nav>

  {% if header_base.height_variant == 'basic' %}</div>{% endif %}
</header>

