{% set classes = [
  'usa-header',
  'jcc-header-base',
  'usa-header--' ~ header_base.height_variant|default('basic'),
  'jcc-header--' ~ header_base.background_variant|default('default'),
]|merge(text_section.classes|default([''])) %}

{% if header_base.skip %}
  <a class="usa-skipnav" href="{{ header_base.skip.url }}">{{ header_base.skip.text }}</a>
{% endif %}
<div class="usa-overlay"></div>
<div class="jcc-header-hat">
  {% include '@molecules/navigation/global-bar/global-bar.twig' with {
    global_bar: header_base.global_bar
  } %}
</div>

<header class="{{ classes|join(' ')|trim }}">
  {% if header_base.height_variant == 'basic' %}<div class="usa-nav-container">{% endif %}
    
    <div class="usa-navbar">
      
      <div class="usa-logo" id="basic-logo">
        <a href="{{ header_base.home_url }}" title="Home" aria-label="Home">
          {% if header_base.logo.mobile %}<span class="usa-logo__graphic--mobile"><img src="{{ header_base.logo.mobile }}" alt="{{ header_base.title }}" /></span>{% endif %}
          {% if header_base.logo.desktop %}<span class="usa-logo__graphic--desktop"><img src="{{ header_base.logo.desktop }}" alt="{{ header_base.title }}" /></span>{% endif %}
          <em class="usa-logo__text{% if header_base.logo %} usa-sr-only{% endif %}">{{ header_base.title }}</em>
        </a>
      </div>

      <button class="usa-menu-btn usa-button--unstyled" aria-label="Open main navigation for mobile devices">
        {% include '@atoms/icons/icon.twig' with {
          icon: header_base.menu_icon
        } %}
      </button>

      <button class="usa-nav__close" aria-label="Close main navigation for mobile devices">
        {% include '@atoms/icons/icon.twig' with {
          icon: header_base.close_icon
        } %}
      </button>

    </div>

    <nav class="usa-nav" aria-label="Main menu">
      
      {% if header_base.height_variant == 'extended' %}<div class="usa-nav__inner">{% endif %}
      
      {% include '@molecules/navigation/nav-primary-base/nav-primary-base.twig' with {
          primary_nav: header_base.primary_nav
      } %}
      {% if header_base.height_variant == 'extended' %}<div class="usa-nav__secondary">{% endif %}
      
      {% if header_base.nav_secondary.accordion_button or header_base.nav_secondary.search %}
      <div class="jcc-nav-secondary__group">
        
        {% if header_base.nav_secondary.accordion_button and (header_base.nav_secondary.accordion_button.links or header_base.nav_secondary.accordion_button.global_links|length != 0) %}
        {% set icon = {
            name: header_base.nav_secondary.accordion_button.icon.name|default('language-translation'),
            title: header_base.nav_secondary.accordion_button.icon.title|default('Translate'),
            width: header_base.nav_secondary.accordion_button.icon.width|default('width-4'),
            height: header_base.nav_secondary.accordion_button.icon.height|default('height-4'),
            decorative: true,
          }
        %}
        <ul class="jcc-translate usa-accordion">
          <li>
            {% if (header_base.nav_secondary.accordion_button.links|length == 1) and (header_base.nav_secondary.accordion_button.global_links|length == 0) %}
              <a href="{{ header_base.nav_secondary.accordion_button.links.0.href }}" class="usa-accordion__button usa-accordion__button--has-icon usa-accordion__button--no-toggle usa-nav__link">
                <span class="usa-accordion-button__icon">
                  {% include '@atoms/icons/icon.twig' with {
                    icon: icon
                  } %}
                </span>
                <span class="label">{{ header_base.nav_secondary.accordion_button.links.0.title }}</span>
              </a>
            {% else %}
              <button class="usa-accordion__button usa-accordion__button--has-icon usa-accordion__button--no-toggle usa-nav__link" aria-expanded="false" aria-controls="extended-nav-section-two">
                <span class="usa-accordion-button__icon">
                  {% include '@atoms/icons/icon.twig' with {
                    icon: icon
                  } %}
                </span>
                <span class="label">{{ header_base.nav_secondary.accordion_button.label }}</span>
              </button>
              <ul id="extended-nav-section-two" class="usa-nav__submenu" hidden="">
                {% for link in header_base.nav_secondary.accordion_button.links %}
                  <li class="usa-nav__submenu-item"><a href="{{ link.href }}">{{ link.title }}</a></li>
                {% endfor %}
                {% if header_base.nav_secondary.accordion_button.global_links|length != 0 %}
                  <li class="usa-nav__submenu-item"><span class="usa-nav__submenu_label">{{ header_base.nav_secondary.accordion_button.global_links_label|t }}</span>
                    <ul class="usa-nav__submenu-global-links usa-nav__submenu-list">
                      {% for global_link in header_base.nav_secondary.accordion_button.global_links %}
                        <li class="usa-nav__submenu-item">
                            <a href="{{ global_link.href }}">{{ global_link.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% endif %}
              </ul>
            {% endif %}
          </li>
        </ul>
        {% endif %}

        {% if header_base.nav_secondary.search %}
        <form{{ attributes.addClass('usa-form', 'jcc-form')}} action="{{ header_base.nav_secondary.search.form_action|default('/search') }}">
          {% include '@atoms/forms/search-input.twig' with {
            search_input: header_base.nav_secondary.search.search_input
          }%}
        </form>
        {% endif %}
      
      </div>
      {% endif %}
      
      {% if header_base.height_variant == 'extended' %}</div>{% endif %}

      {% if header_base.height_variant == 'extended' %}</div>{% endif %}

    </nav>

  {% if header_base.height_variant == 'basic' %}</div>{% endif %}
</header>
