{% set tag = card.tag|default('h3') %}
{% set classes = [
  'jcc-card',
  card.contextual_links ? 'contextual-region' : '',
  card.img ? 'jcc-card--has-icon' : '',
  card.variant ? 'jcc-card--' ~ card.variant : '',
]|merge(card.classes|default([''])) %}

<div class="{{ classes|join(' ')|trim }}">
  {{ card.contextual_links }}
  {% if card.img %}
    <div class="jcc-card__media">
      {% include '@atoms/image/image.twig' with { image: card.img } %}
    </div>
  {% endif %}

  <div class="jcc-card__body">
    {% if card.excerpt_img %}
      <div class="jcc-card__img">
        <div class="content">
          {% if card.url %}
            <a class="usa-link" href="{{ card.url }}">
              {% include '@atoms/image/image.twig' with { image: card.excerpt_img } %}
            </a>
          {% elseif card.id %}
            <span data-a11y-toggle="{{ card.id }}">
              {% include '@atoms/image/image.twig' with { image: card.excerpt_img } %}
            </span>
          {% else %}
            {% include '@atoms/image/image.twig' with { image: card.excerpt_img } %}
          {% endif %}
        </div>
      </div>
    {% endif %}
    {% if card.excerpt_vid %}
      <div class="jcc-card__vid">
        <div class="content">
          {% if card.url %}
            <a class="usa-link" href="{{ card.url }}">
              {{ card.excerpt_vid }}
            </a>
          {% elseif card.id %}
            <span data-a11y-toggle="{{ card.id }}">
              {{ card.excerpt_vid }}
            </span>
          {% else %}
            {{ card.excerpt_vid }}
          {% endif %}
        </div>
      </div>
    {% endif %}
    {% if card.brow %}
      <div class="jcc-card__brow">{{ card.brow }}</div>
    {% endif %}
    <{{ tag }} class="jcc-card__title">
      {% if card.url %}
        <a class="usa-link" href="{{ card.url }}">{{ card.title }}</a>
      {% elseif card.id %}
        <span data-a11y-toggle="{{ card.id }}">{{ card.title }}</span>
      {% else %}
        {{ card.title }}
      {% endif %}
    </{{ tag }}>
    {% if card.id %}<div class="jcc-card__content" id="{{ card.id }}">{% endif %}
      {% if card.excerpt %}
        <div class="jcc-card__excerpt">{{ card.excerpt }}</div>
      {% endif %}
      {% if card.footer %}
        <div class="jcc-card__footer">{{ card.footer }}</div>
      {% endif %}
    {% if card.id %}</div>{% endif %}
  </div>
</div>
