{% set tag = card.tag|default('h1') %}

<div class="jcc-card person">
  {% if card.img %}
    <div class="jcc-card__media">
      {% include '@atoms/image/image.twig' with { image: card.img } %}
    </div>
  {% endif %}

  <div class="jcc-card__body">
    {% if card.brow %}
      <p class="jcc-hero__brow">{{ card.brow }}</p>
    {% endif %}

    <{{ tag }} class="jcc-card__title">
    {%  if card.url %}
      <a class="usa-link" href="{{ card.url }}">{{ card.title }}</a>
    {% else %}
      {{ card.title }}
    {% endif %}
  </{{ tag }}>
  {% if card.excerpt %}
    <div class="jcc-card__excerpt">{{ card.excerpt }}</div>
  {% endif %}
  </div>
</div>
