<div class="jcc-hero{% if background_variant %} jcc-hero--{{ background_variant }}{% endif %}{% if column_variant %} jcc-hero--{{ column_variant }}{% endif %}">
  <div class="jcc-hero__container">
    {% if image %}
    <div class="jcc-hero__media">
      <img src="{{ image }}" alt="{{ alt }}" />
    </div>
    {% endif %}

    <div class="jcc-hero__content">
      {% include '@molecules/navigation/breadcrumbs/breadcrumbs.twig' %}
      <div class="jcc-hero__columns">
        <div class="jcc-hero__column-left">
          <h2 class="jcc-hero__title">{{ title }}</h2>
          {% if lead %}
          <p class="jcc-hero__lead">{{ lead }}</p>
          {% endif %}
        </div>
        {% if column_content_right %}
        <div class="jcc-hero__column-right">
          {{ column_content_right }}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
