{% set tag = list_block.tag|default('h2') %}

{% set classes = [
  'jcc-list-block',
]|merge(list_block.classes|default([''])) %}

<div class="{{ classes|join(' ')|trim }}"{% if list_block.id %} id="{{ list_block.id }}"{% endif %}>
  {% if list_block.title %}
    <{{ tag }} class="jcc-list-block__title">{{ list_block.title }}</{{ tag }}>
  {% endif %}

  {% include '@molecules/blocks/link-list/link-list.twig' with {
    link_list: list_block.link_list
  } %}
</div>
