{% set classes = [
  'jcc-timeline-item',
  timeline_item.img ? 'jcc-timeline-item--has-icon',
]|merge(timeline_item.classes|default([''])) %}

<div class="{{ classes|join(' ')|trim }}">
  {% if timeline_item.img %}
    <div class="jcc-timeline-item__media">
      {% include '@atoms/image/image.twig' with { image: timeline_item.img } %}
    </div>
  {% endif %}

  <h3 class="jcc-timeline-item__title">{{ timeline_item.title }}</h3>
  <div class="jcc-timeline-item__excerpt">{{ timeline_item.excerpt }}</div>

  {% if timeline_item.read_more %}
    {% if timeline_item.read_more.type == 'link' %}
      {% set url_attributes = timeline_item.read_more.link.url_attributes|default(create_attribute()) %}
      <a href="{{ timeline_item.read_more.link.url }}"{{ url_attributes.addClass('jcc-timeline-item__trigger') }}>
        {{- timeline_item.read_more.link.label -}}
      </a>

    {% elseif timeline_item.read_more.type == 'modal' %}
      {% include '@organisms/sections/modal/modal.twig' with {
        modal: timeline_item.read_more.modal
      } %}
    {% endif %}
  {% endif %}
</div>
