<button data-a11y-dialog-show="jcc-full-modal">Open Dialog Window</button> <!-- This element is for the Pattern Lab Only -->

<div id="jcc-full-modal" class="jcc-full-modal{% if background_variant %} jcc-full-modal--{{ background_variant }}{% endif %}{% if column_variant %} jcc-full-modal--{{ column_variant }}{% endif %}" >
  
  <div id="backdrop" class="jcc-full-modal__backdrop" tabindex="-1" data-a11y-dialog-hide="jcc-full-modal"></div>

  <dialog class="jcc-full-modal__dialog js-dialog-window" id="jcc-dialog-window" aria-labelledby="dialog-title" title="{{ title }}">
    <button class="jcc-full-modal__close-button" type="button" data-a11y-dialog-hide="jcc-full-modal" aria-label="Close this dialog window">X</button>
        
    <div class="jcc-full-modal__content">
      <header class="jcc-full-modal__header">
        <h1 class="jcc-full-modal__title" id="dialog-title">{{ title }}</h1>
        <h2 class="jcc-full-modal__lead">{{ lead }}</h2>
      </header>

      <section class="jcc-full-modal__body">
        <div class="jcc-full-modal__column">
          {{ column_content_left }}
        </div>
        
        {% if column_content_right %}
          <div class="jcc-full-modal__column">
            {{ column_content_right }}
          </div>  
        {% endif %}

      </section>
      <footer class="jcc-full-modal__footer">
        <button type="button" data-a11y-dialog-hide="jcc-full-modal" aria-label="Close this dialog window">Done</button>
      </footer>
  </dialog>
</div>
