<div class="jcc-search-group">
  <form action="{{ search_group.url }}">
    <div class="jcc-search-group__container">
      <label class="usa-label" for="input-type-text">{{ search_group.label }}</label>
      <input class="usa-input {% if search_group.error %}usa-input--error{% endif %}" id="input-type-text" name="{{ search_group.attribute }}" type="text">
      {% include '@atoms/buttons/button.twig' with {
        button: {
          text: search_group.button.text,
        }
      } %}
      {% if search_group.error %}
      <span class="usa-error-message">{{ search_group.error }}</span>
      {% endif %}
      {% if search_group.helper %}
      <span class="jcc-search-group__helper">{{ search_group.helper }}</span>
      {% endif %}
    </div>
  </form>
</div>
