{% set classes = [
  'jcc-address',
  address.inline ? 'jcc-address--inline' : '',
]|merge(address.classes|default([])) %}

{% set tag = address.title.tag|default('h2') %}

<div class="{{ classes|join(' ')|trim }}">
  {% if address.title %}
    <{{ tag }} class="jcc-address__title">{{ address.title.title }}</{{ tag }}>
  {% endif %}

  <div class="jcc-address__address">
    {% if address.street %}
      <div class="jcc-address__street">
        {{ address.street }}
      </div>
    {% endif %}
    {% if address.street2 %}
      <div class="jcc-address__street2">
        {{ address.street2 }}
      </div>
    {% endif %}
    {% if address.locality %}
      <div class="jcc-address__locality">
        {{ address.locality }},
      </div>
    {% endif %}
    {% if address.administrative_area %}
      <div class="jcc-address__administrative-area">
        {{ address.administrative_area }}
      </div>
    {% endif %}
    {% if address.postal_code %}
      <div class="jcc-address__postal-code">
        {{ address.postal_code }}
      </div>
    {% endif %}
    {% if address.country %}
      <div class="jcc-address__country">
        {{ address.country }}
      </div>
    {% endif %}
  </div>
</div>
