{#
/**
 * Available variables:
 * - card - primary variable
 *   - style: general style of card [hover, cta, borderless]
 *   - title: title of card
 *   - brow: text in upper left
 *   - body: main text content
 *   - link: card link/button
 *     - url: card link/button url
 *     - text: card link/button text
 *   - classes: array of classes to add to component
 */
#}

{% set attributes = card.attributes ?? create_attribute() %}

{% set tag = 'div' %}
{% set unique_id = 'card-' ~ random() %}
{% set style = card.style|default('cta') %}

{% if style == 'hover' %}
  {% set attributes = attributes.setAttribute('href', card.link.url) %}
  {% set attributes = attributes.setAttribute('aria-labelledby', unique_id) %}
  {% set tag = 'a' %}
{% endif %}

{% set classes = [
  'usa-card',
  'usa-card--' ~ style,
]|merge(card.classes|default([''])) %}

<{{ tag }} {{ attributes.addClass(classes) }}>
  <div class="usa-card__container">
    <div class="usa-card__content">
      <header class="usa-card__header">
        {% if card.brow %}
          <div class="usa-card__brow">{{ card.brow }}</div>
        {% endif %}

        <h3 class="usa-card__heading" id="{{ unique_id }}">
          {% if style == 'borderless' %}
            <a href="{{ card.link.url }}">{{ card.title }}</a>
          {% else %}
            {{ card.title }}
          {% endif %}
        </h3>
      </header>

      {% if card.body %}
        <div class="usa-card__body">
          {{ card.body }}
        </div>
      {% endif %}

      {% if style == 'cta' %}
        <div class="usa-card__footer">
          <a href="{{ card.link.url }}">{{ card.link.text }}</a>
        </div>
      {% endif %}
    </div>

    {% if card.media %}
      <div class="usa-card__media">
        {{ card.media }}
      </div>
    {% endif %}
  </div>
</{{ tag }}>
