{#
/**
 * Available variables:
 * - card - primary variable
 *   - style: general style of card [hover, cta, borderless, media-left]
 *   - title: title of card
 *   - title_tag: tag/size of card title
 *   - brow: text in upper left
 *   - body: main text content
 *   - link: card link/button
 *     - url: card link/button url
 *     - text: card link/button text
 *     - type: card link/button type (n/a or external or file) [ext, file]
 *   - classes: array of classes to add to component
 */
#}

{% set attributes = card.attributes ?? create_attribute() %}

{% set tag = 'div' %}
{% set title_tag = card.title_tag|default('h3') %}
{% set unique_id = 'card-' ~ random() %}
{% set style = card.style|default('cta') %}

{% if style == 'hover' %}
  {% if card.link.url %}
    {% set attributes = attributes.setAttribute('href', card.link.url) %}
    {% set attributes = attributes.setAttribute('aria-labelledby', unique_id) %}
    {% set tag = 'a' %}
  {% else %}
    {% set style = 'cta' %}
  {% endif %}
{% endif %}

{% set classes = [
  'usa-card',
  'usa-card--' ~ style,
]|merge(card.classes|default([''])) %}

<{{ tag }} {{ attributes.addClass(classes) }}>
  <div class="usa-card__container">
    <div class="usa-card__content">
      <header class="usa-card__header">
        {% if card.brow %}
          <div class="usa-card__brow">{{ card.brow }}</div>
        {% endif %}

        <{{ title_tag }} class="usa-card__heading" id="{{ unique_id }}">
          {% if style == 'borderless' and card.link.url %}
            <a href="{{ card.link.url }}">{{ card.title }}</a>
          {% else %}
            {{ card.title }}
          {% endif %}
        </{{ title_tag }}>
      </header>

      {% if card.body %}
        <div class="usa-card__body usa-prose">
          {{ card.body }}
        </div>
      {% endif %}

      {% if (style == 'cta' or style == 'media-left') and card.link.url %}
        <div class="usa-card__footer">
          <a class="{{ card.link.type }}" href="{{ card.link.url }}">{{ card.link.text }}</a>
        </div>
      {% endif %}
    </div>

    {% if card.media %}
      <div class="usa-card__media">
        <span>{{ card.media }}</span>
      </div>
    {% endif %}
  </div>
</{{ tag }}>
