<ul class="usa-nav__primary usa-accordion">
  {% for link in primary_nav.links %}
    <li class="usa-nav__primary-item">
      {% if link.links %}
        <button class="usa-accordion__button usa-nav__link usa-current" aria-expanded="false" aria-controls="{{ link.id }}"><span>{{ link.text }}</span></button>
          <{% if primary_nav.mega %}div{% else %}ul{% endif %} id="{{ link.id }}" class="usa-nav__submenu{% if primary_nav.mega %} usa-megamenu{% endif %}">
            {% if primary_nav.mega == false %}
              {% for child in link.links %}
                <li class="usa-nav__submenu-item">
                  <a href="{{ child.href }}" class="{% if child.is_current %} usa-current{% endif %}"> {{ child.text }}</a>
                </li>
              {% endfor %}
            {% else %}
              <div class="grid-row grid-gap-4">
                {% for group in link.links | batch(3) %}
                  <div class="usa-col">
                    <ul class="usa-nav__submenu-list">
                      {% for child in group %}
                        <li class="usa-nav__submenu-item">
                          <a href="{{ child.href }}" class="{% if child.is_current %} usa-current{% endif %}">{{ child.text }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          </{% if primary_nav.mega %}div{% else %}ul{% endif %}>
        {% else %}
        <a class="usa-nav__link" href="#"><span>{{ link.text }}</span></a>
      {% endif %}
    </li>
  {% endfor %}
</ul>
