{% if breadcrumb.breadcrumbs|length > 0 %}
{% set classes = [
  'jcc-breadcrumbs-nav',
  breadcrumb.font_variant ? 'jcc-breadcrumbs-nav--' ~ breadcrumb.font_variant : '',
]|merge(breadcrumb.classes|default([''])) %}

<nav class="{{ classes|join(' ')|trim }}">
  <ul class="jcc-breadcrumbs">
    {% for breadcrumb in breadcrumb.breadcrumbs %}
    {% set url_attributes = breadcrumb.url_attributes ? breadcrumb.url_attributes : create_attribute() %}
    <li class="jcc-breadcrumb__item">
      
      {% if breadcrumb.url %}
      <a href="{{ breadcrumb.url }}"{{ url_attributes }}>{{ breadcrumb.label }}</a>
      {% else %}
      <span aria-current="location">{{ breadcrumb.label }}</span>
      {% endif %}

    </li>
    {% endfor %}
  </ul>
</nav>
{% endif %}