{#
/**
 * Available variables:
 * - header - primary variable
 *   - background: background color [default, alt]
 *   - skip: the skip link for accessibility
 *     - text: the link text
 *     - url: the link url
 *   - hat: hat section
 *   - logo: the site's logo/name
 *     - title: the name of the site
 *     - svg: the url to the svg
 *   - search_action: search form action link
 *   - links: main menu links
 *     - text: link text
 *     - url: link url
 *     - id: link id
 *     - is_current: is the link the current page, or in the active-trail?
 *     - section_link: link to primary level section/overview
 *       - text: link text
 *       - url: link url
 *     - links: second level links
 *       - text: link text
 *       - url: link url
 *       - is_current: is the link the current page, or in the active-trail?
 *       - links: tertiary level links
 *         - text: link text
 *         - url: link url
 *         - is_current: is the link the current page, or in the active-trail?
 *   - translate: links to switch languages
 *     - text: button text
 *     - links:
 *       - text: link text
 *       - url: link url
 *   - classes: array of classes to add to component
 */
#}

{% set classes = [
  'usa-header',
  'usa-header--extended',
  'jcc-header',
  'jcc-header--' ~ header.background|default('default'),
  header.variant ? 'jcc-header--' ~ header.variant : '',
]|merge(header.classes|default([''])) %}

{% if header.skip %}
  <a class="usa-skipnav" href="{{ header.skip.url }}">{{ header.skip.text }}</a>
{% endif %}

<div class="usa-overlay"></div>

<header class="{{ classes|join(' ')|trim }}">
  <div class="jcc-header__hat">
    {% include '@organisms/global/global-bar.twig' with {
      global_bar: header.hat
    } %}
  </div>

  <div class="jcc-header__navbar">
    <div class="usa-navbar">
      <div class="usa-logo" id="extended-logo"{{ 'masthead' in header.variant ? ' aria-hidden="false"' : '' }}>
        <a href="/" title="Home" aria-label="Home">
          {% if header.logo.svg %}
            <span class="jcc-header__logo">{{ source(header.logo.svg) }}</span>
          {% endif %}
          <em class="usa-logo__text">{{ header.logo.title }}</em>
        </a>
      </div>

      <button class="usa-menu-btn jcc-header__mobile-button-open" aria-label="Open main navigation for mobile devices">
        {% include "@atoms/icon/icon.twig" with {
          icon: {
            name: "menu-bars",
            set: "fa",
          }
        } %}
      </button>
      <button class="usa-nav__close jcc-header__mobile-button-close" aria-label="Close main navigation for mobile devices">
        {% include '@atoms/icon/icon.twig' with {
          icon: {
            name: "close",
            set: "fa",
          }
        } %}
      </button>
    </div>
  </div>

  <div class="jcc-header__nav">
    <nav aria-label="Main menu" class="usa-nav">
      <div class="usa-nav__inner">
        <ul class="usa-nav__primary usa-accordion">
          {% for link in header.links %}
            <li class="usa-nav__primary-item">
              {% if link.links %}
                {% set id = link.id ?? random() %}
                <button class="usa-accordion__button usa-nav__link {{ link.is_current ? 'usa-current' }}" aria-expanded="false" aria-controls="{{ id }}">
                  <span>{{ link.text }}</span>
                  {% include "@atoms/icon/icon.twig" with {
                    icon: {
                      name: header.nav_children.indicator|default('chevron-down'),
                      set: header.nav_children.icon_family|default('fa'),
                    }
                  } %}
                </button>
                {% set count = link.links|length %}
                <div id="{{ id }}" class="usa-nav__submenu {{ count > 7 ? 'megamenu' }}">
                  <div class="usa-nav__submenu-inner">
                    {% if count > 15 %}
                      {# 3 columns #}
                      {% if count % 3 == 0 %}
                        {% set first = (count / 3) + 1 %}
                        {% set second = (count / 3) %}
                        {% set third = (count / 3) - 1 %}
                      {% else %}
                        {% set first  = (count / 3)|round(0, 'ceil') %}
                        {% set second = (count / 3)|round(0, 'ceil') %}
                        {% set third  = (count / 3)|round(0, 'floor') %}
                      {% endif %}
                      {{ _self.sub_menu(link.links|slice(0, first)) }}
                      {{ _self.sub_menu(link.links|slice(first, second)) }}
                      {{ _self.sub_menu(link.links|slice(first + second, third), link.section_link) }}

                    {% elseif count > 7 %}
                      {# 2 columns #}
                      {% if count is odd %}
                        {% set first = (count / 2)|round(0, 'ceil') %}
                      {% else %}
                        {% set first = (count / 2) + 1 %}
                      {% endif %}
                      {{ _self.sub_menu(link.links|slice(0, first)) }}
                      {{ _self.sub_menu(link.links|slice(first, count - first), link.section_link) }}

                    {% elseif count > 0 %}
                      {# 1 column #}
                      {{ _self.sub_menu(link.links, link.section_link) }}
                    {% endif %}
                  </div>
                </div>
              {% else %}
                <a class="usa-nav__link {{ link.is_current ? 'usa-current' }}" href="{{ link.url }}"><span>{{ link.text }}</span></a>
              {% endif %}
            </li>
          {% endfor %}

          {% if header.translate %}
            <li class="usa-nav__primary-item jcc-header__translate-nav">
              {{ _self.translate_button(header.translate) }}
            </li>
          {% endif %}
        </ul>

        <div class="usa-nav__secondary">
          {% if header.translate_extra %}
            <div class="jcc-header__translate-extra">
              {{ header.translate_extra }}
            </div>
          {% endif %}
          {% if header.translate %}
            <div class="jcc-header__translate-nav usa-accordion">
              {{ _self.translate_button(header.translate) }}
            </div>
          {% endif %}

          <div class="jcc-header__search">
            <form action="{{ header.search_action }}" class="usa-search usa-search--small" role="search">
              <label class="usa-sr-only" for="header-search">{{ 'Search'|t }}</label>
              <input class="usa-input" id="header-search" type="search" name="search" placeholder="{{ 'Search'|t }}">
              <button class="jcc-button--unstyled" type="submit">
                {% include "@atoms/icon/icon.twig" with {
                  icon: {
                    name: 'search',
                    set: 'fa',
                    width: 24,
                    height: 24,
                    decorative: true
                  }
                } %}
                <span class="usa-sr-only">{{ 'Search'|t }}</span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </nav>
  </div>

  {% if 'masthead' in header.variant %}
    <div class="jcc-header__logo-container--alt-position" aria-hidden="true">
      <div class="usa-logo" id="extended-logo--alternate-position">
        <a href="/" title="Home" aria-label="Home">
          {% if header.logo.svg %}
            <span class="jcc-header__logo">{{ source(header.logo.svg) }}</span>
            {% if header.logo.lead %}<div class="jcc_header__lead">{{ header.logo.lead }}</div>{% endif %}
          {% endif %}
        </a>
      </div>
    </div>

    {% if header.variant == 'masthead mega' and header.body %}
      <div class="jcc-header__body">{{ header.body }}</div>
    {% endif %}

    {% if header.media %}
      <div class="jcc-header__media">
        <img src="{{ header.media.src }}" alt="{{ header.media.alt }}">
      </div>
    {% endif %}
  {% endif %}
</header>

{% macro sub_menu(menu_links, section_link) %}
  <ul class="usa-nav__submenu-items">
    {% for child in menu_links %}
      <li class="usa-nav__submenu-item {{ child.links ? 'has-children' }}">
        <a class="{{ child.is_current ? 'usa-current' }}" href="{{ child.url }}">{{ child.text }}</a>
        {% if child.links %}
          <ul class="usa-nav__submenu">
            {% for grandchild in child.links %}
              <li class="usa-nav__submenu-item">
                <a class="{{ grandchild.is_current ? 'usa-current' }}" href="{{ grandchild.url }}">{{ grandchild.text }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}

    {% if section_link %}
      <li class="usa-nav__submenu-item jcc-header__submenu-section-item">
        <a href="{{ section_link.url }}">
          <span>{{ section_link.text }}</span>
          {% include "@atoms/icon/icon.twig" with {
            icon: {
              name: "chevron-right",
              set: "fa",
            }
          } %}
        </a>
      </li>
    {% endif %}
  </ul>
{% endmacro %}

{% macro translate_button(button) %}
  {% set id = button.id ?? random() %}
  <button class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="{{ id }}">
    {% include "@atoms/icon/icon.twig" with {
      icon: {
        name: "translate",
        set: "fa",
      }
    } %}
    <span>{{ button.text }}</span>
    {% include "@atoms/icon/icon.twig" with {
      icon: {
        name: "chevron-down",
        set: "fa",
      }
    } %}
  </button>
  <ul id="{{ id }}" class="usa-nav__submenu">
    {% for link in button.links %}
      <li class="usa-nav__submenu-item">
        <a href="{{ link.url }}">{{ link.text }}</a>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}
