{% set heading_tag = chat.heading_tag|default('h3') %}

{% set classes = [
  'jcc-chat'
]|merge(card.classes|default([''])) %}

<div {{ attributes.addClass(classes) }}>
  <div class="jcc-chat__container">
    <div class="jcc-chat__content">
      {% for grouping in chat.grouping %}

        {% set content %}
          {% if grouping.messages %}
          <ul class="jcc-chat__messages">
          {% for message in grouping.messages %}
            <li class="jcc-chat__item {{ message.type }}">
              <div class="jcc-chat__message jcc-chat__message--{{ message.type }}" aria-label="{{ message.type }} response">
                {{ message.text }}
              </div>

              {% if message.type == 'received' and message.icon %}
                <div class="jcc-chat__message-icon">
                  {% if message.icon.url %}
                  <a href="message.icon.url">
                  {% endif %}
                    {% include "@atoms/icon/icon.twig" with {
                      icon: {
                        name: message.icon.name,
                        set: 'fa',
                        title: message.icon.title,
                      }
                    } %}
                  {% if message.icon.url %}
                  </a>
                  {% endif %}
                </div>
              {% endif %}
            </li>
          {% endfor %}
          </ul>
          {% endif %}
        {% endset %}

        {% include "@molecules/section/section.twig" with {
          section: {
            heading: grouping.heading,
            content: content,
          }
        } %}
      {% endfor %}
    </div>
    <div class="jcc-chat__footer">
      <div class="jcc-chat__footer-container">
        {{ chat.footer.block }}
      </div>
    </div>
  </div>
</div>