{% set classes = [
  'jcc-share',
]|merge(share.classes|default([''])) %}

<div class="{{ classes|join(' ')|trim }}">
  <button id="print" class="jcc-share__button" aria-label="Print current page">
    <span class="jcc-share__print"></span>
  </button>
  {% if share.email_modal %}
    {% set email_id = "email" %}
    {% set email_label = share.text_desc|default("Email page to yourself") %}
    {% set email_button %}
      <button id="{{ email_id }}"
              class="jcc-share__button jcc-modal__trigger"
              aria-label="{{ email_label }}"
              {% if share.email_modal %}data-a11y-dialog-show="{{ email_id }}"{% endif %}
      >
        <span class="jcc-share__email"></span>
      </button>
    {% endset %}
    {% include '@organisms/sections/modal/modal.twig' with {
      modal: {
        custom_button: email_button,
        id: email_id,
        aria_label: email_label,
        uses_modal: true,
        overlay_mode: true,
        content: share.email_modal,
      }
    } %}
  {% endif %}

  {% if share.text_modal %}
    {% set text_id = "text" %}
    {% set text_label = share.text_desc|default("Text page to yourself") %}
    {% set text_button %}
      <button id="{{ text_id }}"
              class="jcc-share__button jcc-modal__trigger"
              aria-label="{{ text_label }}"
              {% if share.text_modal %}data-a11y-dialog-show="{{ text_id }}"{% endif %}
      >
        <span class="jcc-share__text"></span>
      </button>
    {% endset %}
    {% include '@organisms/sections/modal/modal.twig' with {
      modal: {
        custom_button: text_button,
        id: text_id,
        aria_label: text_label,
        uses_modal: true,
        overlay_mode: true,
        content: share.text_modal,
      }
    } %}
  {% endif %}

  {% for item in share.custom %}
    {{ item.link|raw }}
  {% endfor %}
</div>
