<div class="jcc-card jcc-card--{{ card_modifier }}">
  {% if image %}
  <div class="jcc-card__media">
    <img src="{{ image }}" alt="{{ alt }}" />
  </div>
  {% endif %}

  <div class="jcc-card__body">
    <h2 class="jcc-card__title">{{ title }}</h2>
    {% if image %}
    <p class="jcc-card__excerpt">{{ excerpt }}</p>
    {% endif %}
  </div>
</div>
