<div class="jcc-card jcc-card--{{ card_variant }}">
  {% if image %}
  <div class="jcc-card__media">
    <img src="{{ image }}" alt="{{ alt }}" />
  </div>
  {% endif %}

  <div class="jcc-card__body">
    <h3 class="jcc-card__title">{{ title }}</h3>
    {% if excerpt %}
    <p class="jcc-card__excerpt">{{ excerpt }}</p>
    {% endif %}
  </div>
</div>
