{#
/**
 * Available variables:
 * - sub_nav - primary variable
 *   - back_link: link back/up to parent
 *     - url: the link url
 *     - text: the link text
 *   - links:
 *     - text: link text
 *     - url: link url
 *     - is_current: is the link the current page, or in the active-trail?
 *   - classes: array of classes to add to component
 */
#}

{% set classes = [
  'jcc-sub-nav',
  sub_nav.config == 'sidenav' ? 'jcc-sub-nav--sidenav' : '',
]|merge(sub_nav.classes|default([''])) %}

{% import _self as subnav %}

{% if sub_nav.back_link or sub_nav.links %}
  <nav class="{{ classes|join(' ')|trim }}" aria-label="{{ sub_nav.label|default('In this section'|t) }}">
    <div class="jcc-sub-nav__container">
      <div class="jcc-sub-nav__label">{{ sub_nav.label|default('In this section'|t) }}</div>
      {{ subnav.subnav_links(sub_nav.links, sub_nav.back_link) }}
    </div>
  </nav>
{% endif %}

{% macro subnav_links(items, back, children) %}
  {% import _self as subnav %}

  <ul class="jcc-sub-nav__items{{ children ? ' jcc-sub-nav--children' : '' }}">
    {% if back %}
      <li class="jcc-sub-nav__item">
        <a class="back-link" href="{{ back.url }}">
          <span>{{ back.text }}</span>
          {% include "@atoms/icon/icon.twig" with {
            icon: {
              name: "chevron-left",
              set: "fa",
              width: 18,
              height: 18,
            }
          } %}
        </a>
      </li>
    {% endif %}

    {% for item in items %}
      <li class="jcc-sub-nav__item">
        <a class="{{ item.is_current ? 'usa-current' }}" href="{{ item.url }}">{{ item.text }}</a>
        {# If sidenav variant, optionally display subpages #}
        {% if sub_nav.config == 'sidenav' and item.below %}
          {{ subnav.subnav_links(item.below, NULL, TRUE) }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}
