<div class="jcc-datefinder">
  <h2 class="jcc-datefinder__title">{{ datefinder.title }}</h2>
  <div class="jcc-datefinder__content">
    {% if patternlab %}
      <form action="#" class="jcc-datefinder__form">
        <label for="filing_date" class="jcc-datefinder__label" title="{{ datefinder.filing_date_label }}">{{ datefinder.filing_date_label }}</label>
        {% include '@atoms/forms/date-input.twig' with  {
          title: datefinder.date.title,
          hint: datefinder.date.hint,
          month_label: datefinder.date.month_label,
          day_label: datefinder.date.day_label,
          year_label: datefinder.date.year_label,
          error: datefinder.date.error
        } %}
      </form>
    {% else %}
      {{ datefinder.date_input }}
    {% endif %}
    <div class="jcc-datefinder__adjacent-dates" {{ datefinder.serve_hidden ? "hidden=true" }}>
      <p class="jcc-datefinder__label">{{ datefinder.serve_date_label }}</p>
      <span class="jcc-datefinder__icon">
        {% include '@atoms/icons/icon.twig' with {
          icon: {
            name: 'send',
            title: 'Send'|t,
            decorative: true,
          }
        } %}
      </span>
      <p class="jcc-datefinder__date">{{ datefinder.serve_date }}</p>
    </div>
    {% if datefinder.respond_date %}
      <div class="jcc-datefinder__adjacent-dates">
        <p class="jcc-datefinder__label">{{ datefinder.respond_date_label }}</p>
        <span class="jcc-datefinder__icon">
          {% include '@atoms/icons/icon.twig' with {
            icon: {
              name: 'reply',
              title: 'Reply'|t,
              decorative: true,
            }
          } %}
        </span>
        <p class="jcc-datefinder__date">{{ datefinder.respond_date }}</p>
      </div>
    {% endif %}
  </div>
</div>
