<div class="jcc-hero jcc-hero--{{ background_variant }}">
	<div class="jcc-hero__container">
		{% if src is not empty %}
		<div class="jcc-hero__media">
			<img src="{{ image }}" alt="{{ alt }}" />
		</div>
		{% endif %}

		<div class="jcc-hero__content jcc-hero__content--{{ column_variant }}">
			<div class="jcc-hero__column">
				<h2 class="jcc-hero__title">{{ title }}</h2>
				<p class="jcc-hero__lead">{{ lead }}</p>
			</div>
			<div class="jcc-hero__column">
				{{ column2_content|raw }}
			</div>
		</div>
	</div>
</div>
