<div class="jcc-feedback" id="{{ feedback.id }}" data-feedback="container" visible="visible">

  <dialog role="dialog" data-feedback="dialog">
    {% if feedback.form.children %}
      <form {{ feedback.form.attributes }}>
        {{ feedback.form.children }}
      </form>
    {% endif %}
    <div class="jcc-feedback__dialog-footer">
      <button tabindex="-1" aria-label="{{ 'Close this dialog window'|t }}" data-feedback="trigger-close">
        {% include '@atoms/icons/icon.twig' with {
          icon: {
            name: "close",
            title: "Close"|t,
            decorative: false,
          }
        } %}
      </button>
    </div>
  </dialog>

  <div class="jcc-feedback__trigger-container">
    <button class="usa-button usa-button--accent-warm" data-feedback="trigger">
      {{ feedback.button.title }}
      {% include '@atoms/icons/icon.twig' with {
        icon: {
          name: "expand_more",
          title: "Expand More"|t,
          decorative: false,
        }
      } %}
    </button>
  </div>
</div>
