{#
/**
 * Available variables:
 * - button - primary variable
 *   - type: the type of button [button, link]
 *   - style: the visual look of the button [primary, secondary, inverse, cta-link, file-link, external-link, unstyled]
 *   - state: the state of the button [hover, active, disabled]
 *   - is_external: is the link url off-site
 *   - text: the visible text on the button
 *   - url: the url of the button (when a link)
 *   - aria_label: the aria label
 *   - attributes: Drupal attributes
 *   - classes: array of classes to add to component
 */
#}

{% set attributes = button.attributes ?? create_attribute() %}

{% if button.state == 'disabled' %}
  {% set attributes = attributes.setAttribute('disabled', 'disabled') %}
{% endif %}

{% if button.aria_label %}
  {% set attributes = attributes.setAttribute('aria_label', button.aria_label) %}
{% endif %}

{% set classes = [
  'jcc-button--' ~ button.style|default('primary'),
  button.state ? 'jcc-button--' ~ button.state,
  button.is_external ? 'ext',
  button.icon_layout ? 'jcc-button--icon-' ~ button.icon_layout : ''
]|merge(button.classes|default([''])) %}

{% set attributes = attributes.addClass(classes) %}

{% if button.type == 'button' %}
  <button {{ attributes }} {{ button.other_attributes }} >
    {{- button.text -}}
  </button>
{% else %}
  <a {{ attributes }} {{ button.other_attributes }} href="{{ button.url }}">
    <span class="jcc-button__text{{ button.icon ? '--with-icon' : '' }}">{{- button.text -}}</span>

    {% if button.is_external %}
      <span class="fa-ext extlink"><span class="fa fa-external-link" aria-label="(link is external)"></span></span>
    {% elseif button.icon %}
      {% include "@atoms/icon/icon.twig" with {
        icon: button.icon
      } %}
    {% endif %}
  </a>
{% endif %}
