{#
/**
 * Available variables:
 * - location - primary variable
 *   - container: container to constrain content [container, no-container]
 *   - id: identifier of this location
 *   - title: the title of this location
 *   - brow: small brow text
 *   - address: the street address (use <br> to separate lines)
 *   - map: a map image or map html
 *     - image: full image
 *     - html: geocoded map html
 *   - directions_text: the directions button text
 *   - phone: the phone number, as a link
 *     - text: the display text
 *     - url: the phone number using the 'tel:' protocol
 *   - tags_label: the tags label
 *   - tags: a list tags
 *   - additional: additional html content
 *   - hours_label: the hours label
 *   - hours: a list of hours items
 *     - label: the label
 *     - details: hours data
 *   - classes: array of classes to add to component
 */
#}

{% set classes = [
  'jcc-location',
  'jcc-location--' ~ location.container|default('no-container'),
]|merge(location.classes|default([''])) %}

{% set location_id = location.id ? 'id=' ~ location.id : '' %}

<div class="{{ classes|join(' ')|trim }}" {{ location_id }}>
  <div class="jcc-location__container">

    <div class="jcc-location__content-first">
      {% if location.map.image %}
        <div class="jcc-location__map jcc-location__map--image">{{ location.map.image }}</div>
      {% elseif location.map.html %}
        <div class="jcc-location__map jcc-location__map--html">{{ location.map.html }}</div>
      {% endif %}

      {% if location.address %}
        <div class="jcc-location__directions">
          {% set address = location.address|replace({'<br>': ' ', '<br />': ' '})|trim %}
          {% include '@atoms/button/button.twig' with {
            button: {
              style: 'outline',
              is_external: true,
              text: location.directions_text|default('Get Directions'),
              url: 'https://maps.google.com/?q=' ~ address,
            }
          } only %}
        </div>
      {% endif %}
    </div>

    <div class="jcc-location__content-second">
      {% if location.brow %}
        <div class="jcc-location__brow">{{ location.brow }}</div>
      {% endif %}

      <h2 class="jcc-location__title">
        {{ location.title }}
      </h2>

      <div class="jcc-location__location-tags">
        <div class="jcc-location__location">
          {% if location.address %}
            <div class="jcc-location__address">
              {{ location.address }}
            </div>
          {% endif %}

          {% if location.phone %}
            <div class="jcc-location__phone">
              <a class="usa-link" href="{{ location.phone.url }}">{{ location.phone.text }}</a>
            </div>
          {% endif %}
        </div>

        <div class="jcc-location__tags">
          {% if location.tags %}
            <div class="jcc-location__tags-list">
              <p class="jcc-location__tags-label">
                {{ location.tags_label|default('Matters Served') }}:
              </p>

              {% for tag in location.tags %}
                {% include '@atoms/tag/tag.twig' with { tag: tag } %}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>

      {% if location.additional %}
        <div class="jcc-location__additional usa-prose">
          {{ location.additional }}
        </div>
      {% endif %}

      {% if location.hours %}
        <div class="jcc-location__hours">
          <p class="jcc-location__hours-label">
            {{ location.hours_label|default('Hours') }}:
          </p>
          <div class="jcc-location__hours-items" data-quantity="{{ location.hours|length }}">
            {% for item in location.hours %}
              <div class="jcc-location__hours-item">
                <div class="jcc-location__hours-item-label">
                  {{ item.label }}
                </div>
                <div class="jcc-location__hours-item-details">
                  {{ item.details }}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>

  </div>
</div>
