<div class="jcc-card jcc-card--{{ card_modifier }}">
	<div class="jcc-card__media">
		<img src="{{ src }}" alt="{{ alt }}" class="{{ card_media_modifier }}" />
	</div>

	<div class="jcc-card__body">
		<h2 class="jcc-card__headline">{{ headline }}</h2>
		<p class="jcc-card__excerpt">{{ excerpt }}</p>
	</div>
</div>
