{% set tag = tag|default('h2') %}

{% if sidenav|length > 0 %}
<div class="jcc-sidenav">
  <nav>
    <{{ tag }} class="jcc-sidenav__title">{{ title }}</{{ tag }}>
    <ul class="usa-sidenav">
      {% for item in sidenav %}
      {% set url_attributes = item.url_attributes ? item.url_attributes : create_attribute() %}
      <li class="usa-sidenav__item">
        <a href="{{ item.url }}"{{ item.url_attributes }}>{{ item.name }}</a>
        
        {% if item.sidenav_child|length > 0 %}
        <ul class="usa-sidenav__sublist">  
        {% for childitem in item.sidenav_child %}
        {% set url_attributes = childitem.url_attributes ? childitem.url_attributes : create_attribute() %}
          <li class="usa-sidenav__item">
            <a href="{{ subitem.url }}"{{ childitem.url_attributes }}>{{ childitem.name }}</a>

            {% if childitem.sidenav_grandchild|length > 0 %}
            <ul class="usa-sidenav__sublist">  
            {% for grandchilditem in childitem.sidenav_grandchild %}
            {% set url_attributes = grandchilditem.url_attributes ? grandchilditem.url_attributes : create_attribute() %}
              <li class="usa-sidenav__item">
                <a href="{{ subitem.url }}"{{ grandchilditem.url_attributes }}>{{ grandchilditem.name }}</a>
              </li>
            {% endfor %}
            </ul>
            {% endif %}

          </li>
        {% endfor %}
        </ul>
        {% endif %}

      </li>
      {% endfor %}
    </ul>
  </nav>
</div>
{% endif %}
