{% set tag = side_nav.tag|default('h2') %}

{% set classes = [
  'jcc-sidenav',
]|merge(side_nav.classes|default([''])) %}

{% if side_nav|length > 0 %}
  <div class="{{ classes|join(' ')|trim }}">
    <nav>
      <{{ tag }} class="jcc-sidenav__title">{{ side_nav.title }}</{{ tag }}>
      <ul class="usa-sidenav">
        {# Level one #}
        {% for item in side_nav.items %}
          <li class="usa-sidenav__item">
            <a href="{{ item.url }}">{{ item.name }}</a>

            {# Level two #}
            {% if item.children|length > 0 %}
              <ul class="usa-sidenav__sublist">
                {% for child in item.children %}
                  <li class="usa-sidenav__item">
                    <a href="{{ child.url }}">{{ child.name }}</a>

                    {# Level three #}
                    {% if child.children|length > 0 %}
                      <ul class="usa-sidenav__sublist">
                        {% for grandchild in child.children %}
                          <li class="usa-sidenav__item">
                            <a href="{{ grandchild.url }}">{{ grandchild.name }}</a>
                          </li>
                        {% endfor %}
                      </ul> {# Level three #}
                    {% endif %}
                  </li>
                {% endfor %}
              </ul> {# Level two #}
            {% endif %}
          </li>
        {% endfor %}
      </ul> {# Level three #}
    </nav>
  </div>
{% endif %}
