{% if options|length > 0 %}
<div class="jcc-dropdown{% if size_variant %} jcc-dropdown--{{size_variant}}{% endif %}" title="{{ title }}">
  {% if form_label %}
  <label class="jcc-dropdown__Label">{{ form_label }}</label>
  {% endif %}
  <select>
    {% for option in options %}
    <option value="{{ option.value }}">{{ option.label }}</option>
    {% endfor %}
  </select>
</div>
{% endif %}
