{% set classes = [
  'jcc-link-list',
  link_list.files_list ? 'jcc-link-list--files' : '',
]|merge(link_list.classes|default([''])) %}

<div class="{{ classes|join(' ')|trim }}">
  <ul class="jcc-link-list__list">
    {% for item in link_list.items %}
      {% set url_attributes = item.url_attributes ? item.url_attributes : create_attribute() %}
      <li class="jcc-link-list__item">
        {% if link_list.files_list %}
          {% set icon = link_list.icon|default({
            name: "file",
            title: "File"|t,
            decorative: false,
          }) %}

          <span class="jcc-link-list__icon">
            {% include '@atoms/icons/icon.twig' with  { icon: icon } %}
          </span>
        {% endif %}

        {{ item.name }}

        (<a{% if link_list.files_list %} download{% endif %} href="{{ item.url }}"{{ url_attributes }}>
          {{- item.url_title -}}
        </a>)
      </li>
    {% endfor %}
  </ul>
</div>
