<div class="jcc-postcard jcc-postcard--{{ background_variant }} jcc-postcard--{{ header_align_variant }}">
	<div class="jcc-postcard__container">
		<div class="jcc-postcard__row">
			<div class="jcc-postcard__media">
				<img src="{{ image }}" alt="{{ alt }}" />
				<span class="jcc-postcard__tag">{{ tag }}</span>
			</div>

			<div class="jcc-postcard__content">
				<header class="jcc-header-group">
					<h2 class="jcc-header-group__title">{{ title }}</h2>
					<p class="jcc-header-group__lead">{{ lead }}</p>
					<p class="jcc-header-group__body">{{ body }}</p>
				</header>
			</div>
		</div>
	</div>
</div>
