<div class="jcc-postcard jcc-card--{{ card_modifier }}">
	<div class="jcc-postcard__container">
		<div class="jcc-postcard__row">
			<div class="jcc-postcard__media">
				<img src="{{ src }}" alt="{{ alt }}" class="{{ card_media_modifier }}" />
			</div>

			<div class="jcc-postcard__content">
				<header class="jcc-header-group">
					<h2 class="jcc-header-group__title">{{ headline }}</h2>
					<p class="jcc-header-group__lead">{{ excerpt }}</p>
				</header>
			</div>
		</div>
	</div>
</div>
