<div class="jcc-text-section jcc-text-section--{{ modifier }} {{ bg_modifier }}">
	<div class="jcc-text-section__container">
		<header class="jcc-header-group">
			<h2 class="jcc-header-group__title">{{ headline }}</h2>
			<p class="jcc-header-group__lead">{{ excerpt }}</p>
		</header>
		<div class="jcc-text-section__content jcc-text-section__content--{{ column_modifier }}">
			<div class="jcc-text-section__column">
				{{ column_content|raw }}
			</div>
			<div class="jcc-text-section__column">
				{{ column_content2|raw }}
			</div>
		</div>
	</div>
</div>


