{#
/**
 * Available variables:
 * - accordion - primary variable
 *   - style: general style of accordion [full, condensed]
 *   - collapse_first: boolean - collapse the first item on load?
 *   - heading: the heading (title & lead)
 *   - items: array of accordion items
 *     - title: title of accordion item
 *     - body: content inside of accordion item
 *   - item_tag: the html tag of each item heading
 *   - classes: array of classes to add to component
 */
#}

{% set tag = accordion.item_tag|default('h3') %}
{% set collapse_first = accordion.collapse_first|default(false) %}
{% set style = accordion.style|default('condensed') %}

{% set classes = [
  'usa-accordion',
  'usa-accordion--' ~ style,
]|merge(accordion.classes|default([])) %}

{% set content %}
  <div class="{{ classes|join(' ')|trim }}">
    {% for item in accordion.items %}
      {% set id = 'accordion-item-' ~ loop.index ~ '-' ~  random() %}

      <{{ tag }} class="usa-accordion__heading">
        {% set expanded = (loop.first and not collapse_first) ? "true" : "false" %}
        <button class="usa-accordion__button" aria-expanded="{{ expanded }}" aria-controls="{{ id }}">
          {{- item.title -}}
        </button>
      </{{ tag }}>

      <div class="usa-accordion__content usa-prose" id="{{ id }}">
        {{- item.body -}}
      </div>
    {% endfor %}
  </div>
{% endset %}

{% include "@molecules/section/section.twig" with {
  section: {
    heading: accordion.heading,
    content: content,
  }
} %}
