{% if hero.column_content_right %}
  {% set column_variant = hero.column_variant|default('has-two-columns-half') %}
{% else %}
  {% set column_variant = hero.column_variant|default('has-one-column') %}
{% endif %}

{% set classes = [
  'jcc-hero',
  'jcc-hero--' ~ column_variant|default('has-two-columns-half'),
  hero.lowercase_brow ? 'jcc-hero--lowercase-brow',
  hero.hide_title ? 'display-none',
  hero.background_variant ? 'jcc-hero--' ~ hero.background_variant : '',
  hero.background_parallax ? 'jcc-hero--background-parallax' : '',
  hero.height_variant ? 'jcc-hero--' ~ hero.height_variant : '',
  hero.inset_variant ? 'jcc-hero--' ~ hero.inset_variant : ''
]|merge(hero.classes|default([''])) %}

<div class="{{ classes|join(' ')|trim }}"{% if hero.id %} id="{{ hero.id }}"{% endif %}>
  <div class="jcc-hero__container">
    {% if ('has-background-image' in hero.background_variant) and hero.img %}
      <div class="jcc-hero__media">
        {% include '@atoms/image/image.twig' with { image: hero.img } %}
      </div>
    {% endif %}

    <div class="jcc-hero__content">

      <div class="jcc-hero__columns">
        <div class="jcc-hero__column-left">
          <div class="jcc_hero__content-top">
            {% if hero.breadcrumbs %}
              <div class="jcc_hero__breadcrumbs-wrapper">
                {% include '@molecules/navigation/breadcrumbs/breadcrumbs.twig' with {
                  breadcrumbs: hero.breadcrumbs
                } %}
              </div>
            {% endif %}
            {% if hero.case_type %}
              <div class="jcc_hero__case-type-wrapper">
                {% include '@atoms/buttons/index-button.twig' with {
                  index_button: {
                    url: hero.case_type.url,
                    text: hero.case_type.label
                  }
                }%}
              </div>
            {% endif %}
          </div>

          {% if hero.brow %}
            <p class="jcc-hero__brow">{{ hero.brow }}</p>
          {% endif %}

          <h1 class="jcc-hero__title{% if hero.title_variant %} jcc-hero__title--{{ hero.title_variant }}{% endif %}">
            {{- hero.title -}}
          </h1>

          {% if hero.lead %}
            <div class="jcc-hero__lead">{{ hero.lead }}</div>
          {% endif %}

          {% if hero.body %}
            <div class="jcc-hero__body">{{ hero.body }}</div>
          {% endif %}
        </div>

        {% if hero.column_content_right %}
          <div class="jcc-hero__column-right">
            {{ hero.column_content_right }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  {% if hero.banner_image %}
    <div class="jcc-hero__banner" style="background-image:url({{ hero.banner_image }})">
      {# <img src="{{ hero.banner_image }}" > #}
    </div>
  {% endif %}
</div>
