{#
/**
 * @file
 * Available variables typically provided from Drupal book navigation:
 * - items: A nested list of side navigation items. Each side navigation item contains:
 *   - attributes: HTML attributes for the side navigation item.
 *   - below: The side navigation item child items.
 *   - title: The side navigation link title.
 *   - url: The side navigation link URL, instance of \Drupal\Core\Url.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     side navigation tree.
 *   - is_collapsed: TRUE if the link has children within the current side navigation tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 * - active_trail: active trail
 */
#}
{% set sidenavbase_classes = [
  'jcc-sidenavbase',
  side_nav_base.theme_classes ? side_nav_base.theme_classes
]|merge(side_nav_base.sidenav_classes|default([''])) %}

{% import _self as sidenavbase %}
{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}

{% set tag = side_nav_base.tag|default('h2') %}

<nav aria-label="{{ side_nav_base.aria_label }}" class="side-nav-base-scheme-{{ side_nav_base.scheme }}">
  <{{ tag }} class="jcc-sidenavbase__title">{{ side_nav_base.header }}</{{ tag }}>
  {{ sidenavbase.sidenavbase_links(side_nav_base.items, attributes, sidenavbase_classes|join(' ')|trim, 0, active_trail, side_nav_base.expand_icon, side_nav_base.collapse_icon, side_nav_base.alt_collapse_icon, side_nav_base.alt_expand_icon) }}
</nav>

{% macro sidenavbase_links(items, attributes, sidenavbase_classes, menu_level, active_trail, expand_icon, collapse_icon, alt_collapse_icon, alt_expand_icon) %}
  {% import _self as sidenavbase %}
  {% if items %}
    {% if menu_level == 0 %}
        {% for item in items %}
            {% set link_classes = {
                'class' : [
                    item.in_active_trail ? 'usa-current',
                ]
            } %}
            <ul class="usa-sidenav {{ sidenavbase_classes }}">
                <li class="usa-sidenav__item jcc-sidenav__item-home">{{ link(item.title, item.url, link_classes) }}</li>

                {% if item.below %}
                    {{ sidenavbase.sidenavbase_links(item.below, attributes, sidenavbase_classes, menu_level + 1, active_trail, expand_icon, collapse_icon, alt_collapse_icon, alt_expand_icon) }}
                {% endif %}
            </ul>
        {% endfor %}
    {% else %}
        {% if menu_level > 0 %}
            <ul class="usa-sidenavbase_sublist menu-level-{{ menu_level }}">
        {% endif %}
            {% for item in items %}
              {% set classes = [
                'usa-sidenavbase__item',
                item.in_active_trail ? 'jcc-current__container',
              ] %}
              {% set link_classes = {
                'class' : [
                  item.in_active_trail ? 'usa-current',
                  menu_level == 1 and item.original_link.has_children ? 'jcc-haschildren'
                ]
              } %}
              <li class="{{ classes|join(' ')|trim }}">
                {% if item.below %}
                  {{ link(item.title, item.url, link_classes) }}

                  {% if menu_level == 1 and item.original_link.has_children %}
                    {% if alt_collapse_icon %}
                      <i class="icon icon-alt {{ alt_collapse_icon }}"></i>
                    {% else %}
                      {% set icon = collapse_icon|default({
                        name: "expand_less",
                        title: "Showing subpages"|t,
                        decorative: true,
                        width: "width-3",
                        height: "height-3"
                      }) %}
                      {% include '@atoms/icons/icon.twig' with  { icon: icon } %}
                    {% endif %}
                  {% endif %}

                  {{ sidenavbase.sidenavbase_links(item.below, attributes, sidenavbase_classes, menu_level + 1, active_trail, expand_icon, collapse_icon, alt_collapse_icon, alt_expand_icon) }}
                {% else %}
                  {{ link(item.title, item.url, link_classes) }}

                  {% if menu_level == 1 and item.original_link.has_children %}
                    {% if alt_expand_icon %}
                      <i class="icon icon-alt {{ alt_expand_icon }}"></i>
                    {% else %}
                        {% set icon = expand_icon|default({
                          name: "expand_more",
                          title: "Show subpages"|t,
                          decorative: true,
                          width: "width-3",
                          height: "height-3"
                        }) %}
                      {% include '@atoms/icons/icon.twig' with  { icon: icon } %}
                    {% endif %}
                  {% endif %}
                {% endif %}
              </li>
            {% endfor %}
        {% if menu_level > 0 %}
            </ul>
        {% endif %}
    {% endif %}
  {% endif %}
{% endmacro %}
